<fieldset class="panel-info" id="order_details" data-hook>
  <div class="clear"></div>
  <div class="panel-heading text-center" id="confirm-panel-heading"><%= Spree.t(:confirm) %></div>
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
  <%= render :partial => 'spree/shared/order_details_table', :locals => { :order => @order } %>

  <div class="form-buttons col-md-12 text-center" data-hook="buttons">
    <%= submit_tag Spree.t(:place_order), :class => 'btn btn-default' %>
    <script>Spree.disableSaveOnClick();</script>
  </div>

</fieldset>
