.navbar-template
  padding: 40px 15px

ul.nav.navbar-nav
  display: inline-block
  float: none
  margin-right: 30px

.container-fluid
  background-color: white

li
  margin-top: 13px
  margin-bottom: 3px

#navbar-logo
  width: 200px
  margin-top: 20px

#navbar-wrapper
  border: 0px

#mobile-nav-toggle
  margin-top: 20px
.navbar-button
  margin-left: 10px
  margin-right: 1px
