<body class="two-col" id="default">
  <div class="container">
    <%= render :partial => 'spree/shared/header' %>
    <div class="col-md-12 text-center">
      <div class="col-md-3">
        <div class="col-md-8">
          <%= render :partial => 'spree/shared/legal_doc_menu' %>
        </div>

      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</body>
<%= render :partial => 'spree/shared/footer' %>
