<body class="two-col" id="default">
  <div class="container">
    <%= render :partial => 'spree/shared/header' %>
    <div class="col-md-12 text-center">
      <div class="col-md-3">

      </div>
      <div class="col-md-6 text-center">
        <table id="tdswag">
          <tbody>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-3">

      </div>
    </div>


  </div>
</body>
<%= render :partial => "spree/shared/footer" %>
