# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e8297f77d3f7bfbcf4d267eac19b3e31de932b984eed7f5f86904c57d48dfd55d8bac9eebb0f91aa04af615e92fcefb26e19c1f0b8947a6d27d41cbb892e34cc

test:
  secret_key_base: 46fb435acaecd56ba257dbbbe7bed7227d565289a217b2ab09d1defe766579725bffad8e817adb80dbde9fd221c9d7ef76af98a16730683c6dfab7b2522a194e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
