
<footer id="footer" class="col-md-12 navbar-fixed-bottom" data-hook>
  <div id="footer-left" class="col-md-6" data-hook>
    <span>
      <img src="https://i.imgur.com/WuA2HMQ.png" alt="Designed + Manufactured + Printed in Sydney" id="footer-blurb">
    </span>
  </div>
  <div id="footer-right" class="col-md-6 text-right" data-hook>

    <div id="social-button-wrapper">
      <%= link_to 'https://www.instagram.com/cardinalcorp/', target: :_blank do %>
        <i class="fi-social-instagram"></i>
      <% end %>
      <%= link_to 'https://www.facebook.com/cardinalcorp/', target: :_blank do %>
        <i class="fi-social-facebook"></i>
      <% end %>
      <%= mail_to 'info@cardinalcorp.com.au' do %>
        <i class="fi-mail"></i>
      <% end %>
    </div>
  </div>

</footer>
