<div id="legal-doc-wrapper">
  <p><%= link_to 'PRIVACY POLICY', main_app.pages_privacypolicy_path, class: 'legal-doc-button' %></p>
  <p><%= link_to 'T & C', main_app.pages_termsandconditions_path, class: 'legal-doc-button' %></p>
  <p><%= mail_to "info@cardinalcorp.com.au", "EMAIL US", class: 'legal-doc-button' %></p>
</div>
